<%= render 'books/list', books: @books %>
<!DOCTYPE html>
<html lang="ja">
<html>
  <head>
    <meta charset="UTF-8" />
    <script src="https://kit.fontawesome.com/124e42cc69.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

<body>
<div class="container">
 <div class="row">
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">
   <h2>Log in</h2>


<form action="/users/sign_in" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="QEI9M6nux/21IKDtxeuO5Mw3PSeVP1Otpfxv4tljcnkfpSWKE8reANw6d0GC8k7y68jjJ5mUu+WnuJPP58wFZg==">
        <div class="field">
          <label for="user_name">Name</label><br>
          <input autofocus="autofocus" class="name" type="text" name="user[name]" id="user_name">
        </div>
        <div class="field">
          <label for="user_password">Password</label><br>
          <input autocomplete="off" class="password" type="password" name="user[password]" id="user_password">
        </div>
          <div class="field">
            <input name="user[remember_me]" type="hidden" value="0"><input type="checkbox" value="1" name="user[remember_me]" id="user_remember_me">
            <label for="user_remember_me">Remember me</label>
          </div>
        <div class="actions">
          <input type="submit" name="commit" value="Log in" class="btn btn-sm btn-primary" data-disable-with="Log in">
        </div>
</form>
<!--以下はパスワード忘れた時用のリンク設定-->
  <%= render "devise/shared/links" %>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>

<%= render 'books/footer', books: @books %>
